* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.card-encabezado {
    position: relative;
    height: 6vh;
    width: 30vw;
    left: 35vw;
    top: 20vh;
    background: #88CEFA;
    border: 1px solid black;
    z-index: 2;
    text-align: center;
    border-radius: 10.5px;
}

.card-encabezado__texto {
    position: relative;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    top: 12px;
    height: auto;
}

.card-contenido {
    position: relative;
    height: 35vh;
    width: 60vw;
    left: 20vw;
    top: 17vh;
    background: #808080;
    border: 1px solid black;
    text-align: center;
    border-radius: 10.5px;
}

.card-contenido__imagen {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 40px;
    left: 35%;
}

.card-contenido__imagen img {
    width: 100%;
    height: 100%;
}

.card-contenido__texto {
    position: absolute;
    top: 62%;
    width: 60%;
    left: 20%;
    color: white;
    word-wrap: break-word;
    font-size: 1.2rem;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 767px) {
    .card-contenido {
        left: 32%;
        width: 300px;
    }
    .card-encabezado {
        height: 5vh;
        width: 20vw;
        left: 40vw;
        top: 20vh;
    }
    .card-encabezado__texto {
        font-size: 2.5rem;
        font-weight: bold;
        top: 5px;
    }
    .card-contenido__texto {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 950px) {
    .card-contenido {
        left: 32%;
        width: 40vw;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.card-encabezado {
    position: relative;
    height: 6vh;
    width: 30vw;
    left: 35vw;
    top: 20vh;
    background: #88CEFA;
    border: 1px solid black;
    z-index: 2;
    text-align: center;
    border-radius: 10.5px;
}

.card-encabezado__texto {
    position: relative;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    top: 12px;
    height: auto;
}

.card-contenido {
    position: relative;
    height: 35vh;
    width: 60vw;
    left: 20vw;
    top: 17vh;
    background: #808080;
    border: 1px solid black;
    text-align: center;
    border-radius: 10.5px;
}

.card-contenido__imagen {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 40px;
    left: 35%;
}

.card-contenido__imagen img {
    width: 100%;
    height: 100%;
}

.card-contenido__texto {
    position: absolute;
    top: 62%;
    width: 60%;
    left: 20%;
    color: white;
    word-wrap: break-word;
    font-size: 1.2rem;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 767px) {
    .card-contenido {
        left: 32%;
        width: 300px;
    }
    .card-encabezado {
        height: 5vh;
        width: 20vw;
        left: 40vw;
        top: 20vh;
    }
    .card-encabezado__texto {
        font-size: 2.5rem;
        font-weight: bold;
        top: 5px;
    }
    .card-contenido__texto {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 950px) {
    .card-contenido {
        left: 32%;
        width: 40vw;
    }
}