                * {
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                }
                
                html {
                    font-size: 62.5%;
                }
                
                section {
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .card {
                    background: #808080;
                    border-radius: .5vw;
                    border: .5vw solid;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    width: 50vw;
                    height: 40vw;
                }
                
                .card-encabezado {
                    position: absolute;
                    height: 6vh;
                    width: 30vw;
                    top: -2vw;
                    background: #88CEFA;
                    border: 1px solid #000;
                    z-index: 2;
                    text-align: center;
                    border-radius: 10.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .card-encabezado__texto {
                    color: #fff;
                    font-size: 2.5vw;
                    font-weight: bold;
                }
                
                .card-contenido {
                    height: auto;
                    width: 100%;
                    background: #808080;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    padding: 2.5vw;
                    flex-direction: column;
                    align-items: center;
                }
                
                .card-contenido__imagen {
                    width: 30%;
                    height: 45%;
                    margin: 0 0 5vw 0;
                }
                
                .card-contenido__imagen img {
                    width: 100%;
                    height: 100%;
                }
                
                .card-contenido__texto {
                    width: 60%;
                    color: #fff;
                    word-wrap: break-word;
                    font-size: 1.6vw;
                }
                
                @media screen and (min-width: 480px) {}
                
                @media screen and (min-width: 600px) {}
                
                @media screen and (min-width: 767px) {
                    .card-contenido {
                        left: 32%;
                        width: 300px;
                    }
                    .card-encabezado {
                        height: 5vh;
                        width: 20vw;
                        left: 40vw;
                        top: 20vh;
                    }
                    .card-encabezado__texto {
                        font-size: 2.5rem;
                        font-weight: bold;
                        top: 5px;
                    }
                    .card-contenido__texto {
                        font-size: 1.3rem;
                    }
                }
                
                @media screen and (min-width: 950px) {
                    .card-contenido {
                        left: 32%;
                        width: 40vw;
                    }
                }